.company_image{
    max-width: 250px;
    max-height: 250px;
}
.company_image image{
    height: 250px;
    width: 250px;
}

.new-license{
    display: block;
    margin-bottom: 10px;
}
.uniform_area_radio{
    margin-bottom: 15px !important;
}
.staff_area_radio{
    margin-bottom: 15px !important;
}

.alert-list ul li
{
    list-style-type: none;
}

