.company_image{
    max-width: 250px;
    max-height: 250px;
}
.company_image image{
    height: 250px;
    width: 250px;
}

.new-license{
    display: block;
    margin-bottom: 10px;
}
.uniform_area_radio{
    margin-bottom: 15px !important;
}
.staff_area_radio{
    margin-bottom: 15px !important;
}

.alert-list ul li
{
    list-style-type: none;
}


/* My css */
.account-pages {
    /* background: linear-gradient(to top, #B92454 10%, #642971 80%); */
    background: url("../images/synergic360_bg.jpg");    
  }
  .wrapper-page .card-box {
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.4), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border:5px solid #ccc;
  }
  .wrapper-page #user_registration label{

    color: #ffff;

}
.login_form .checkbox label{
    color: #fff;
}

.wrapper-page .account-bg {
    background-color: rgba(0,0,0,0.5) !important;
}
  .login_form .form-control, .logup_form .form-control, .logup_form #fmc_div .select2-selection--multiple  {
    background-color: #F9F9F9;
    border: 1px solid #afafaf;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
  }
  #myPassword  .form-control{
    border: none;
    box-shadow: none;
  }
  .password_input {
    background-color: #F9F9F9;
    border: 1px solid #afafaf;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
  }
  .my_card{
    /* background: #EFEFEF; */
    background: rgba(0,0,0,0.2);
  }
  #topnav .topbar-main {
    background-color: #221023;
  }
  .notification-list .noti-title {
    background-color: #EBEBEB;
  }
  .notification-list .noti-title h5 {
    color: #000;
  }
  .dropdown-arrow::before {
    border-bottom: 10px solid #EBEBEB;
  }
  .notification-list .noti-icon {
    color: rgba(255, 255, 255, 0.9);
  }
  #topnav .navigation-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #topnav .navigation-menu > li:hover a {
    color: #75286A;
  }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #75286A;
  }
  #topnav .navigation-menu > li > a:active {
    color: #75286A;
  }
  #topnav .navigation-menu > li > a {
    color: #484848;
  }
  #topnav .navigation-menu > li > a:focus {
    color: #75286A;
  }
  #topnav .navigation-menu > li .submenu {
    padding: 0px 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    padding: 6px 25px;
    border-bottom: 1px solid #ccc;
  }
  #topnav .navigation-menu > li.last-elements .submenu {
    right: auto;
  }
  #topnav .navigation-menu > li.active > a {
    color: #BC2250;
}
#topnav .navigation-menu > li.active li.active li.active > a {
  color: #BC2250;
}
  .user_name_link:hover{
    text-decoration: underline;
  }
  .user_action_btn .dropdown-menu {
    left: -134px !important;
    top: 24px !important;
  }
  .user_action_btn  {
    float: right;
  }
  .user_action_btn .custm_btn{
  border: 1px solid #221023;
  padding: 3px 7px;
  color: #221023;
  border-radius: 20px;
  cursor: pointer;
  }
  .profile_img_top{
    border: 4px solid #822767;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #822767;
    border-radius: 30px;
    letter-spacing: 0px;
    line-height: 25px;
    margin-top: 8px;  
  }
  .loading_gif{
    height: 26px !important;
    display: none;
  }
  .custom_btn{
    padding: 0.312rem 1rem;
  }
  .job_post_preview p{
    margin-bottom: 3px;
  }
  .job_post_preview .alert{
    padding: 3px 6px;
    color: #6B6B6B;
    background: #F5F5F5;
    border-color: #F5F5F5;
    font-size: 17px;
  }
  .notification_messege{
    position: absolute;
  top: 12px;
  z-index: 9000;
  right: 1px;
  }
  .sidbar_icon i{
    color: #221023;
    margin-right: 5px;
  }
  .sidbar_icon .card-link{
    color: #000;
  }
  .sidbar_icon .list-group-item:hover{
    background: #F5F5F5;
    cursor: pointer;
  }
  .sidebar_header{
    padding: 0.6rem 1.25rem;
    background-color: #FCFCFC;
    border-bottom: 1px solid #221023;
    font-weight: 200;
  }
  .dashboard_sidebar{
    line-height: 0;
  }
  .footer_sidebar_header{
    padding: 0.6rem 1.25rem;
    background-color: #FCFCFC;
    border-bottom: 1px solid #221023;
    font-weight: 200;
  }
  .job_listing i{
   margin-right: 5px;
  }
  .page_box_shadow{
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
  }
  
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .listing_cards{
    padding: .9rem 1.25rem;
  }
  .listing_cards:hover{
    background: #F5F5F5;
  }
  .bg_cards{
    border:1px solid #F9F9F9;
  }
  .fixed_height{
    min-height: 440px;
    margin-bottom: 15px;
  }
  .inner_fixed_height{
    max-height: 301px;
  overflow: auto;
  }
  .header-title {
    font-weight: 400;
    font-size: 18px;
    font-family: ProximaNova,arial,sans-serif;
    text-transform: capitalize;
  }
  .search_stat{
    margin-left:5px;
  }
  .job_listing_heading{
    margin-top: 5px;
  }
  .job_detail_description{
    text-transform: uppercase;
  }
  .description-font p{
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .fmc_company_image img{
    width: 90px;
    height: 90px;
  }
  .fmc_profile h4, .fmc_profile p{
    margin-bottom: 3px;
  }
  .fmc_profile{
    min-height: 100px;
  }
  .fmc_profile_sidebar .headings{
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 11px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .fmc_bg_shadow{
    box-shadow: 0 1px 10px 2px rgba(0,0,0,.05);
  }
  .bg_grey{
    background: #FcFcFc;
  }
  .rating_box{
     background: #F77D0E;
     padding: 3px 5px;
    color: #fff;
    border-radius: 2px;
    margin-right: 5px;
  }
  .add_staff h4{
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    border-bottom: 1px solid #F4F4F4;
    font-family: ProximaNova,arial,sans-serif;
  }
  .add_staff .form_label{
    color: #767676;
  text-transform: uppercase;
  letter-spacing: .5px;
    margin-bottom: 5px;
  line-height: 11px;
  font-weight: 600;
  font-size: 11px;
  }
  .phone_input {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 10px;
    width: 100%;
  }
  .phone_input .form-control{
    border: none;
  }
  .phone_input .input-group-addon{
    width: 35px;
    border: none;
  }
  .add_staff .c-select{
  width: 100%;
  }
  .card_custom_color{
    background-color: #F1F8F2;
    color: #1BB99A;
    border: 1px solid  #1BB99A;
  }
  .result_box{
    min-height: 200px;
    overflow: auto;
  }
  .select_list_border{
    border: 1px solid #F5F5F5;
  }
  .bottom_border{
    border-bottom: 1px solid #B2B3A6;
  }
  .add_user_role .add_user_role_detail p{
    margin-left: 15px;
    margin-top:5px;
    margin-top:5px;
  }
  .add_user_role_box{
    border: 1px solid #221023;
    border-bottom: 4px solid #221023;
  }
  .card_box_job_list{
    min-height: 440px;
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .fmc_card_box{
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  }
  #calender_data .fc-toolbar{
   margin-top:0px;
  }
 .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}
.association_nav .nav-link.active, .association_nav .nav-link.active:focus, .association_nav .nav-link.active:hover, .association_nav .nav-item.open .nav-link, .association_nav .nav-item.open .nav-link:focus, .association_nav .nav-item.open .nav-link:hover {
  color: #821D5C;
  background-color: #fff;
  border-color: #821D5C #821D5C transparent;
}
.association_nav{
  padding: 2px 0px;
}
.association_nav .nav-item{
  margin-left: 20px;
}
.association_nav .nav-link{
  padding: 0.5em 4em;
  background: #fff;
  color: #9b9b9b;
}
.association_nav > li > a {
  margin-right: 5px;
}
.card-box {
  border: 1px solid #ccc;
}
.custom_table .table td{
  vertical-align: middle;
  height: 60px;
}
.notifications_icon {
  border-bottom: 1px solid #ccc;
}
.notifications_icon .bg-icon {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.notifications_icon .bg-icon i {
  line-height: 53px;
  font-size: 26px;
}
.btn_custom{
  padding: 0px 5px;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  width: 20px;
  height: 20px;
}
.btn_custom i, .delete_btn_custom i{
  font-size: 10px;
}
.btn_custom:hover{
  border: 1px solid #1d8cec;
  color:  #1d8cec;
}
.delete_btn_custom{
  padding: 0px 5px;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.delete_btn_custom:hover{
  border: 1px solid rgb(204, 25, 25);
  color: rgb(204, 25, 25);
}
.notification_status{
  display: inline-block;
}
/* #mceu_35, #mceu_97, #mceu_66 , #mceu_33, #mceu_67{
  display: none;
} */
.mce-tinymce .mce-branding {
  display: none;
}
.oam_terms_font{
  font-size: 12px;
}
.stat_boxes{
  min-height: 318px;
}
.font_weight_200{
  font-weight: 200;
}
.blocks h2{
  color: #000;
}
.user_image_padding{
  height: 40px;
  width: 40px;
  border-radius: 100px;
    overflow: hidden;
    /* position: absolute; */
    margin-top: 10px;
}
.user_image_padding .img_size {
  max-width: 100%;
  /* max-height: 100%; */
  vertical-align: text-bottom !important;
}
#targetFormat  .fa-star{
  color: #F77D0E;
}
.imag_link::after{
  display: block;
}

.custom_links{
  color: #2b3d51
}
.label {
  padding: 5px 10px;
}
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* Grow Shadow */
.hvr-grow-shadow {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.laravel_pagination .pagination {
  display: inline;
  padding-left: 0;
  margin-top: 0rem;
  margin-bottom: 0rem;
  border-radius: 0.25rem;
}
.laravel_pagination li{
  display: inline;
}
.laravel_pagination li a, .laravel_pagination li span{
  position: relative;
float: left;
padding: 0.3rem 0.75rem;
margin-left: -1px;
line-height: 1.5;
color: #000;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}
.laravel_pagination  .pagination > .active > span, .laravel_pagination  .pagination > .active > span:hover, .laravel_pagination  .pagination > .active > a:focus, .laravel_pagination  .pagination > .active > span:focus {
  background-color: #2B3340;
  border-color: #2B3340;
  color: #fff;
}
.aprovel_buttons{
  padding: 0.50rem 1.25rem;
  background: #fff;
}
.job_review table th, .job_review table TD{
  padding: 5px 10px;
}
.nav-user img {
  height: auto !important;
  width: auto !important;
}
.checkbox label::before {
margin-top:3px !important;
}
.checkbox label::after { 
    left: 1px !important; 
    top: 1px !important; 
}
